<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">
        jdbc:jtds:sqlserver://DESKTOP-NLMIKG9:61239/Achievements;instance=SQLEXPRESS
    </property>
    <property name="connection.driver_class"> com.microsoft.sqlserver.jdbc.SQLServerDriver </property>
    <!-- <property name="dialect"> org.hibernate.dialect.SQLServer2008Dialect </property> -->
    <!-- <property name="dialect"> org.hibernate.dialect.SQLEXPRESS </property> -->
    <property name="connection.serverTimezone">UTC</property>
    <property name="connection.pool_size">1</property>
    <property name="connection.username">JavaAdmin</property>
    <property name="connection.password">JavaAdmin</property>
    <property name="show_sql">true</property>
    <!-- DB schema will be updated if needed -->
    <property name="hibernate.hbm2ddl.auto">create</property>
    <mapping class="Entities.User"></mapping>
  </session-factory>
</hibernate-configuration>

